<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="../public/icon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resto Hub</title>
</head>

<body class="grid">
  <a href="#mainContent" class="skip__content">Skip to content</a>
  <header class="header">
    <app-header class="header__app"></app-header>
  </header>
  <main class="main">
    <hero-element class="hero"></hero-element>
    <section id="mainContent" class="main__content">
      <h2>Explore Restaurant</h2>
      <resto-list class="resto__list"></resto-list>
    </section>
  </main>
  <footer class="footer">Copyright © 2024 - Resto Hub</footer>
</body>

</html>